.navbar {
	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
}

.content {
    text-align: center;
}

#footer {
	min-height:100%;
	position:relative;
}

.footernav {
   position: relative;
   bottom: 0;
   font-size: 13px;
   background-color: white;
   height: 50px;   /* Height of the footer */
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.wrapper {
	min-height:100%;
	margin-bottom:-75px;
}

#footertext {
	color: #666666;
}

@media only screen and (max-width: 850px) {
	.footernav {
		position: relative;
		bottom: 0;
		font-size: 14px;
		margin-bottom: 10px;
		height: 50px;   /* Height of the footer */
		background-color: white;
	}

	#footer {
		min-height:100%;
		position:relative;
	}
}
