.navbar {
	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
}

.content {
    text-align: center;
}

.footernav {
   position: absolute;
   bottom: 0;
   font-size: 12px;
   height: 50px;   /* Height of the footer */
}

@media only screen and (max-width: 850px) {
	.footernav {
		position: absolute;
		bottom: 0;
		font-size: 14px;
		margin-bottom: 10px;
		height: 50px;   /* Height of the footer */
	}
}