.navbar {
	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
}

.content {
    text-align: center;
}

.footernav {
   position:absolute;
   bottom:0;
   font-size: 14px;
   height:50px;   /* Height of the footer */
}

@media (max-width: 648px) {
	#footernav {
	  width: 100%;
	  position: absolute;
	bottom: 10;
	  font-size: 11px;
	  padding: 10%;
	 }
   }
